body {
  margin: 0px;
  overflow: hidden;
}

html::before {
  content: ' ';
  display: block;
  background-image: linear-gradient(rgba(33, 33, 33, 0.88),rgba(33,33,33,0.88)),url(BG.png);
  background-position: bottom left;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; 
}
.wrapper {
display: flex;  
flex-flow: row wrap;
font-weight: bold;
text-align: center;
}

.wrapper > * {
padding: 10px;
flex: 1 100%;
}

.header {
/*background: tomato;*/
color: #eadccf;
font-weight: bolder;
border: 1px solid #eadccf;
}


.line-path {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 30px;
  fill: #8E8883;
}

.title {
  font-size: 20px;
  fill: #635F5D;
}
.annotateText {
  font-size: 10px;
  fill: #635F5D;
}
.annotation {
 fill: none;
 stroke: red;
  display:none;

}
